<ion-header>
  <ion-toolbar class="toolBar">
      <!-- <ion-buttons slot="start"> -->
          <!-- <ion-menu-button></ion-menu-button> -->
          <!-- <ion-button class="btnHome"  (click)="goBack()"> -->
            <!-- <i class="fas fa-arrow-left"></i> &nbsp; -->
            <!-- <ion-icon name="chevron-back-outline"></ion-icon>back -->
          <!-- </ion-button> -->
          <ion-title class="mainhdng">Terms and Conditions</ion-title>
      <!-- </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <h2 class="mainhdng fntcolor">Terms and Conditions</h2> -->
  <div class="terms-container">
    <p [style.text-indent]="'20px'">
    Dear User, we strongly recommend you acquaint yourself carefully with Terms and Conditions (“Terms” or “Agreement”) before using the services, provided by FluentERP. By signing in into Online or Mobile versions of the service you agree that FluentERP will store your credentials in the database on the server. We will not share your private and confidential information with any other third persons or third-party services. You agree to respect the services and follow the Terms and Conditions, prepared by FluentERP. Additional Agreement can be applied for services and products that will be launched in future, so for your best experience, it is important to become familiar with all of these Terms of Conditions.
    </p>
    <p>
    By using FluentERP services and products, you signify that you unconditionally agree and accept to be legally bound by these Terms.
    </p>
    <p>
    These Terms and Conditions constitutes an agreement between end user (you) and FluentERP governing your use of the Service. This version of Agreement supersedes any prior agreements between you and FluentERP.
    </p>
    <p>
    Agreeing to signing in to use this version means you are agreeing to follow the Terms and Conditions that are written below. The Services provided by FluentERP on this mobile app include services that help you manage your business. Such as products and inventory management, leads and opportunities management, contacts management, sales and purchase orders, invoices and payments management, accounting and human resource management and so on. All new features that are added in future on FluentERP functionality or new kind of services provided by FluentERP will be the subject of these Terms. The newest version of the Terms and Conditions always will be placed here.
    </p>
    <p>
    In the case of any violation of this Agreement FluentERP reserves the right to suspend or terminate your account or license.
    </p>
    <p>
    In addition, FluentERP may not provide the access to the Services if you are FluentERP’s competitor. Also, we may not give you the access to our services and products for purposes of monitoring their availability, performance or functionality, or for any other benchmarking, testing or other competitive purposes.
    </p>
    <p>
    Before you become the user of FluentERP services and products you must carefully read, unconditionally agree and accept all of these Terms and Conditions. It is your obligation to check them for updates from time to time
    </p>
    <p>
    Only these Terms and Conditions are applicable to FluentERP. Any other forms of Terms or conditions made to you by its employees or representatives are not applicable to FluentERP.
    If you don’t agree with these Terms and Conditions then you have no right to use FluentERP services and products.
    </p>

    <strong>Definitions</strong>
    <p>
    “Agreement” – these Terms and Conditions.
    </p>
    <p>
    “Confidential Information” – all kind information shared between you and FluentERP, in any writing, verbal or electronic forms. It does not include information which is, or becomes, publicly available other than through unauthorized disclosure by the other party.
    </p>
    <p>
    “Customization” – a process of developing software that is specially designed for some specific organization or business needs.
    </p>
    <p>
    “Data” – any kind of information that you have inputted with or without your credentials into this website.
    </p>
    <p>
    “FluentERP” – means the name of software, products or services provided on this website.
    </p>
    <p>
    “Intellectual Property Right” – any patent, trademark, service mark, copyright, moral right, right in a design, know-how and any other intellectual or industrial property rights, anywhere in the world whether or not registered.
    </p>
    <p>
    “On demand” – at any time when the user requires it. In the case of FluentERP means hosting the software on clients side and customization by FluentERP developers.
    </p>
    <p>
    “SaaS” – Software as a Service. It is a software licensing and delivery model in which software is licensed on a subscription basis and is centrally hosted.
    </p>
    <p>
    “Services” – all kind of services related and not limited to customer relationship, human resources, inventory and product, accounting, sales and purchases, orders, invoices payments management and their configurations provided by FluentERP
    </p>
    <p>
    “Software” – all human readable, machine operable and all other forms of the software which comprise the Services and incorporating all forms of any modifications made to it by FluentERP from time to time.
    </p>
    <p>
    “Terms” – these Terms and Conditions.
    </p>
    <p>
    “User” – a person who uses services provided by FluentERP.
    </p>
    <p>
    “Website” – internet site at the domain https://www.fluentsoft.com or any other site that is operated by FluentERP.
    </p>
    <p>
    “You” – you, the person who use our services, products or software on our website or by using mobile applications.
    </p>
    <strong>
    Changes to these Terms and Conditions
    </strong>
    <p [style.text-indent]="'20px'">
    FluentERP reserves the right to update and change these Terms by posting updates and changes of modified version at any time. FluentERP will make every effort to notify you about these changes in Terms via email or notifications on the website. You continue use of these Terms and Conditions after the update. You are advised to check the Terms of Service occasionally for any updates or changes that may impact you. Any new software or services provided by FluentERP that enhance, expand or enlarge existing Services will be the subject of these Terms. These Terms and Conditions can be changed in future. It is your obligation to ensure that you have read, understood and agree to the current version of Terms that are available on the website. Please review these Terms and Conditions periodically for changes.
    </p>
    <strong>
    End user license agreement
    </strong>
    <p [style.text-indent]="'20px'">
    FluentERP grants you the right to access and use the Services provided on website thru this mobile application. This right is non-exclusive, non-transferable, and limited by and subject to this Agreement. 
    </p>
    <strong>
    General Obligations
    </strong>
    <p [style.text-indent]="'20px'">
    You are allowed to use the Services provided here only for your own and lawful business needs, according to these Terms and any notice sent by FluentERP or condition posted on the website. You have the right to use these Services and website on behalf of others or to provide services to others only if you are authorized to do that. Those persons should comply and accept all Terms of this Agreement if they granted you to use FluentERP Services.
    </p>
    <p [style.font-style]="'italic'">
    Access: 
    </p>
    <p>
    It is your obligation to keep confidential and secure all logins and passwords that are required to access the Services. If you found any unauthorized use of your credentials or any other attack for Services security then you must notify FluentERP, and you will be provided with new password or login. You must take all necessary actions to maintain the security of accounts that you use.
    </p>
    <p>
    Accessing and using these Services, you must:
    </p>
    <ul [style.list-style]="'none'" style="padding:0px">
    <li>
    1) not try to break the security of FluentERP Services and software, computing networks or systems, or the third party networks where are hosted FluentERP Services;
    </li>
    <li>
    2) not use the Services provided to you by FluentERP in any way that can damage the proper stable work of Services, systems, software or website;
    </li>
    <li>
    3) not use any services, software to or other programming tools to weaken the ability of any other user to use the Services or website;
    </li>
    <li>
    4) not misuse the Services in a manner that exceeds reasonable usage;
    </li>
    <li>
    5) not use the Services in a malicious, fraudulent or unlawful manner;
    </li>
    <li>
    6) not try to get unauthorized access to any data other than that to what you have been given access or to the system where are hosted FluentERP Services;
    </li>
    <li>
    7) not upload any files or input any kind of information into the Website that can damage the software, networks, systems or devices;
    </li>
    <li>
    8) not upload any material or data protected by copyright or commercial know-how which you don’t have the right to use;
    </li>
    <li>
    9) not upload any offensive data or images related to racism, fascism, pornography, religion and so on;
    </li>
    <li>
    10) not try to disassemble or decompile any computer software used to deliver the Services by FluentERP, hack into the computer networks and systems.
    </li>
    </ul>
    <p [style.font-style]="'italic'">
    Usage Limitations:
    </p>
    <p>
    Usage of FluentERP Services may be subject to limitations. It can include
    </p>
    <p>
    Usage of FluentERP Services may be subject to limitations. It can include number of proceeded orders, number of requests made via FluentERP’s API, number of users etc. Any kind of limitations may be varied by FluentERP. Your obligation is to check these Terms and Conditions periodically for the new version.
    </p>
    <p [style.font-style]="'italic'">
    FluentERP Mobile App: 
    </p>
    <p>
    Use of the mobile app (FluentERP mobile application for Android or iOS operating systems) is an additional access tool for users to conveniently use all or partial functionality available on the website from mobile devices. If you don’t accept these Terms and Conditions then you must stop using the App and, if necessary, delete it from your device(s).
    </p>
    <strong>
    Confidentiality and Privacy
    </strong>
    <p [style.font-style]="'italic'">
    Confidentiality:
    </p>
    <p>
    Each party of this Agreement shall preserve the confidentiality of all confidential information of the other, obtained in connection with these Terms. Neither party may, without the prior written consent of the other, disclose or make any confidential information available to any person, or use the same for its own benefit, other than as contemplated by these Terms. The provisions of previous clause shall not apply to any information which:
    </p>
    <p>
    <li>
    is or becomes public other than by a breach of this clause;
    </li>
    <li>
    is received from a third party who lawfully acquired it and who is under no obligation restricting its disclosure;
    </li>
    <li>
    is in the possession of the receiving party without restriction in relation to disclosure before the date of receipt from the disclosing party; or
    </li>
    <li>
    is independently developed without access to the Confidential Information.
    </li>
    </p>
    <p [style.font-style]="'italic'">
    Privacy:
    </p>
    <p>
    FluentERP maintains industry standard for privacy policy that sets out the parties’ obligations in respect of personal information. You should carefully read that policy. When you accept and agree to these Terms and Conditions then you have also accept and agree to the Privacy Policy.
    </p>
    <strong>
    Intellectual Property
    </strong> 
    <p [style.font-style]="'italic'">
    General:
    </p> 
    <p>
    The website and any documentation or user guides related to the Services remain the property of FluentERP.
    </p>  
    <p [style.font-style]="'italic'">
    Ownership of Data:
    </p>   
    <p>
    The data, entered by you on FluentERP services, remain your own property. You grant FluentERP a license to use, copy, transmit, store, and back-up your information and data for the purposes of enabling you to access and use the Services and for any other purpose related to provision of Services to you.
    </p>
    <p [style.font-style]="'italic'">
    Backup of data:
    </p>
    <p>
    You must maintain copies of all data inputted into the Service. FluentERP will do its best to prevent data loss, including periodically data back-up, but does not guarantee that there will be no loss of data. FluentERP excludes responsibility for any possible loss of data no matter how it was caused.
    </p>
    <p [style.font-style]="'italic'">
    Third-party integrations and your data:
    </p>
    <p>
    FluentERP will not be responsible for any disclosure, changes or loss of your data resulting from any such access by third-party application providers.
    </p>
    <p [style.font-style]="'italic'">
    Accuracy of Data:
    </p>
    <p>
    When you input any data onto the website you agree and acknowledge that you are responsible for ensuring the accuracy of such data. FluentERP is under no obligation to ensure that your data on the website is an accurate representation of your actual business data. We strongly recommend to perform a periodical review of your actual stocks and products.
    </p>
    <strong>
    Warranties and Acknowledgements
    </strong>
    <p [style.font-style]="'italic'">
    Acknowledgement:
    </p>
    <p>
    To use the Services and the website you must be authorized to access the information and to input the data into the website, including any information or data input into the website by any person you have authorized to use FluentERP Services. You  must be also authorized to access the processed information and data that was made available to you through your use of the website and the services.
    </p>
    <p [style.font-style]="'italic'">
    No Warranties:
    </p>
    <p>
    FluentERP does not give any warranty about the Services and that they will meet your specific requirements, business needs or that they will be suitable for any particular purpose. To avoid doubt, all implied conditions or warranties are excluded in so far as is permitted by law, including warranties of merchantability, fitness for purpose, title and non-infringement.
    </p>
    <strong>
    Limitation of Liability
    </strong> 
    <p [style.text-indent]="'20px'">
    FluentERP excludes all liability and responsibility to you (or any other person) in contract, tort (including negligence), or otherwise, for any loss (including loss of information, data, profits and savings) or damage resulting, directly or indirectly, from any use of, or reliance on, the Services or website. If you are not satisfied with the Service, you must terminate these Terms and Conditions and stop using FluentERP services.
    </p>      
    <strong>
    Termination
    </strong>   
    <p [style.text-indent]="'20px'">
    FluentERP reserves the right to terminate your usage of Services in the following cases:
    <li>
    You breach any of these Terms and Conditions;
    </li>
    <li>
    You terminate this Agreement and your use of the Services and the website.
    </li>
    </p> 
     
    <strong>
    Help and Support</strong>
    <p [style.font-style]="'italic'">
    Technical issues:
    </p>
    <p>
    If you still need some technical assistance, please check the support provided online by FluentERP on the website or emailing us at info@Fluenterp.com. Also you can use online chat facing some troubles with Services. FluentERP will do its best to address all queries and requests for assistance received through the website or via email as soon as possible, but does not guarantee you support instantly.
    </p>
    <p [style.font-style]="'italic'">
    Service availability:
    </p>
    <p>
    FluentERP makes all efforts to make the Services available 24/7.
    </p>
    <p>
    It is possible that the Services or website may be unavailable temporarily for scheduled maintenance, upgrade or other required technical activities. If for any reason FluentERP has to suspend the Services for longer periods than FluentERP would normally expect, FluentERP will publish in advance details of such activity on the website.
    </p>
    <strong>
    Other
    </strong>
    <p [style.text-indent]="'20px'">
    These Terms, together with the FluentERP Privacy Policy, supersede all prior agreements between you and FluentERP relating to the Services provided to you by FluentERP.Any claims will be considered only if they were made in writing before by each parties. Neither party will be liable for any delay or failure in performance of its obligations under these Terms if the delay or failure is due to any cause outside its reasonable control. This clause does not apply to any obligation to pay money. You may not assign or transfer any rights to any other person without FluentERP’s prior written consent.
    </p>
    <p>
    If any part or provision of these Terms is not correct or in conflict with the law, that part or provision is replaced with a provision which, as far as possible, accomplishes the original purpose of that part or provision. The remainder of this Agreement will be binding on the parties.
    </p>
    <p>
    Any notice given under these Terms by either party to the other must be in writing by email and will be deemed to have been given on transmission unless an electronic error message is received by the sender. Notices to FluentERP must be sent to info@Fluenterp.com or to any other email address notified by email to you by FluentERP. Notices to you will be sent to the email address which you provided when setting up your access to the Service.
    </p>
    <p>
    A person who is not a party to these Terms has no right to benefit under or to enforce any term of these Terms.
    </p>
    <p>
    Thank you for taking the time spent to read and the efforts to understand our Terms and Conditions.
    </p>
    <ion-button class="comp algnBtn" (click)="termsAccepted()">Accept & Continue</ion-button>
  </div>
  <!-- <ion-button color="#006495" class="comp" expand="full" (click)="termsAccepted()">Accept and Continue</ion-button> -->
</ion-content>