<ion-header>
  <ion-toolbar  class="toolBar">
      <ion-buttons slot="start">
          <ion-buttons slot="start">
              <ion-menu-button></ion-menu-button>
          </ion-buttons>
      </ion-buttons>
    <ion-title>{{'About'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="abt_container">
  <div class="logo">
      <img src="./assets/img/info.gif" alt=""  width="50%">
      <h4>FluentMTMCB 1.0</h4>
    <p>{{'About text1'|translate}}</p>
    <p>{{'About text2'|translate}}</p>
  </div>
  <ion-button class="comp algnBtn" href="https://fluentsoft.com/aboutus.html">{{'Learn more'|translate}}</ion-button>   
  <!-- <ion-button color="#006495" class="comp"  href="https://fluentsoft.com/aboutus.html" expand="full">{{'Learn more'|translate}}</ion-button> -->
</div>
</ion-content>