// .comp{
//   background: #006495;
//   margin:20% 0px;
// }

// .logo{
//     text-align: center;
// }

.abt_container {
  margin: 19px 32px 19px 33px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;
  text-align: left;
  color: #818181;
}
  .logo{
      text-align: center;
  }

  .comp{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    background: #3382f8;
    color: #ffffff;
    box-shadow: 2px 2px 22px 4px #5f95f7;
    left:50%;
    position: absolute;
    transform: translate(-50%);
    text-transform: capitalize;
  }

  .algnBtn{
    width: 50%;
    position: fixed;
    bottom: 20px;
  }
