.comp{
    background: #006495;
    margin-top:10%;
  }
.login{
    text-align: center;
}
.logo{
    margin: 20% 0 0 0;
}
.logo1{
    margin: 0 0 15% 0;
}
h6{
    font-size: 14px;
    color: #006495;
    cursor: pointer;
}