.entireRow{
  width: 100%;
}
.taskName{
    font-weight: 600;
    text-transform: capitalize;
    font-size: 0.9rem;
    margin: 5px 0px;
    color: #55565b !important;
}
.btnHome {
  color: #fff;
}
// .gen{
//   color:black;
//   background: #ddd;
//   margin-top: 0.5rem;
// }

.des{
    color: #848d95;
    margin: 5px 0px;
    font-size: 0.9rem;
}
.stage {
  font-size: 0.9rem;
  margin: 5px 0px;
  // display: table-cell;
  vertical-align: middle;

}
.gen{
  // color:black;
  // background: #ddd;
  width: 51px;
  height: 45px;
  // margin: 29px 20px 43px 22.5px;
  // padding: 15px 17.3px 14.4px 18.2px;
  border-radius: 6px;
  background-color: #fff9ea;
  margin-top: 0.5rem;
  color: #3382f8;
  // box-shadow: none !important;
}
ion-button{
  --box-shadow:none;
}
.search {
  // width: 13.8px;
  // height: 13.8px;
  margin: 0 1.7px 1.7px 0;
  // border: solid 1.5px #3382f8;
  font-size: 1.5rem;
  font-weight: 700;
  color: #3382f8;
}
ion-spinner{
    margin: 20% 45%;
}
h5 {
  color: #55565b !important;
}

/* Breadcrumb */
.breadcrumb {
    padding: 5px;
    list-style: none;
    background:#0b76aa;
    // height: 40px;
    font-weight: normal;
    color: #FFF;
    overflow: hidden;
    margin: 0;
    font-size: 1rem;
  }
  .breadcrumb li {
    display: inline-block;
    color: #FFF;
  }
  .breadcrumb span {
    color: #C7D9E2;
    text-decoration: none;
    cursor: pointer;
  }
  .cur {
    // cursor: pointer;
    // color: #fff;
    // margin: 10px;
    // height: 90px;
    width: 160px;
    height: 90px;
    margin: 10px 10px;
    padding: 16px 6px 21px;
    border-radius: 10px;
    // background-color: #edfff8;
  }
  .cnt {
    width: 100%;
    height: 39px;
    // margin: 0 22px 12px;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.84px;
    text-align: center;
  }
  .txts {
    width: 100%;
    height: 15px;
    // margin: 36px 0 0;
    font-family: Poppins;
    font-size: 10px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    // color: #3382f8;
  }
  .nodat {
    color: #b3a2a2 !important;
  }
  .breadcrumb .fa-chevron-right {
    color: #C7D9E2 !important;
  }
  .view-container {
    overflow: hidden;
  }
  ion-icon {
    font-size: 1.2rem;
    margin-right: 6px;
  }
  // --border: 1px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));

  .primary1 {
    --border-color: var(--ion-color-primary, #3382f8);
  }
  .lbl{
    --color: var(--ion-item-color, var(--ion-text-color, #818181));
  }