<ion-header>
  <ion-toolbar  class="toolBar">
      <ion-buttons slot="start">
          <ion-button class="btnHome" (click)="arrow()">
            <i class="fas fa-arrow-left"></i> &nbsp;
          </ion-button>
      </ion-buttons>
    <ion-title>{{'Register'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <div class="login">
      <img src="./assets/img/info.gif" alt=""  width="30%">
      <ion-item>
          <ion-label position="floating">{{'Employee ID'|translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="empid" name="empid"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">{{'Site ID'|translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="siteid" name="siteid"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{'Username'|translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="userid" name="userid"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">{{'Password'|translate}}</ion-label>
          <ion-input type="password" [(ngModel)]="pass" name="pass"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{'Confirm password'|translate}}</ion-label>
        <ion-input type="password" [(ngModel)]="confirm_pass" name="confirm_pass"></ion-input>
      </ion-item>
      <div [style.color]="'red'">{{errMsg}}</div>
      <ion-spinner *ngIf="showSpinner == true" color="secondary" name="circles"></ion-spinner>
      <ion-button color="#006495" class="comp" expand="full" (click)="register()">{{'Register'|translate}}</ion-button>
  </div>
</ion-content>