.gen{
    color:black;
    background: #ddd;
    text-align: center;
    margin: 5% 35%;
}

/* Works - pass "my-custom-class" in cssClass to increase specificity */
.my-custom-class .alert-wrapper {
    background: #e5e5e5;
}
.my-custom-class {
    --background: #e5e5e5;
}